@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin-top: 45rem;
    margin-right: 55rem;

}

.about-section {
    align-content: center; 
}

.about-title {
    text-align: center;
}

