/* styling for about component */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.about-section {
    align-content: center; 
}

.about-title {
    text-align: center;
    margin-top: 1rem;
}

