body {
    align-content: center;
}

.contact-welcome {
    align-content: center;
    margin-top: 4rem;
    margin-left: 30rem;
}

.contactForm { 
    margin-bottom: 30px;
    align-content: center;
    margin-top: 2rem;
}

.text-input {
    padding: 14px 32px 14px 16px;
    margin-left: 55rem;
    margin-bottom: .75rem;
    border-radius: 4px;
    border: 2px solid rgba(16, 2, 53, 0.129);
    width: 320px;
    background: transparent;
    color: #fff;
}

.error-text {
    margin-top: 0;
    margin-left: 34rem;
    color: red;
    font-weight: bolder;
}

.btn {
    margin-left: 33rem;
}